@{
    ViewData["Title"] = "Contato";
}

<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GARO ESTATE | Contact page</title>
    <meta name="description" content="company is a real-estate template">
    <meta name="author" content="Kimarotec">
    <meta name="keyword" content="html5, css, bootstrap, property, real-estate theme , bootstrap template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
</head>
<body>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <div class="page-head">
        <div class="container">
            <div class="row">
                <div class="page-head-content">
                    <h1 class="page-title">Página de Contatos</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- End page header -->
    <!-- property area -->
    <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="" id="contact1">
                        <div class="row">
                            <div class="col-sm-4">
                                <h3><i class="fa fa-map-marker"></i> Endereço</h3>
                                <p>
                                    Av. Rio Branco,
                                    <br>452 Centro, Marília - SP
                                    <br>17509-110
                                    <br>
                                    <strong>Brasil</strong>
                                </p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-phone"></i>Contatos</h3>
                                <p class="text-muted">
                                    Nossos colaboradores atendem via Facebook,
                                    Whatsapp ou ligação telefonica,
                                    fique á vontade para escolher o melhor para voçê
                                </p>
                                <p><strong>(14) 3433-7001</strong></p>
                                <p><strong>(14) 9 9199-8554</strong></p>
                                <p><strong>(14) 9 9146-0812</strong></p>
                                <p><strong>(14) 9 9648-6569</strong></p>
                                <p><strong>(14) 9 9136-4870</strong></p>
                            </div>
                            <!-- /.col-sm-4 -->
                            <div class="col-sm-4">
                                <h3><i class="fa fa-envelope"></i> Suporte Eletrônico</h3>
                                <p class="text-muted"></p>
                                <ul>
                                    <li><strong><a href="mailto:">contato@talitamatosimoveis.com.br</a></strong>   </li>
                                </ul>
                            </div>
                            <!-- /.col-sm-4 -->
                        </div>
                        <!-- /.row -->
                        <hr>
                        <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3693.672686652704!2d-49.94566718504686!3d-22.214541985368246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bfd73097229f09%3A0x91e19163a27ebc71!2sTalita%20Matos%20Corretora%20de%20Im%C3%B3veis!5e0!3m2!1spt-BR!2sbr!4v1632323658574!5m2!1spt-BR!2sbr" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

