@model IEnumerable<Domain.AlienDB_Midia>

@{
    ViewData["Title"] = "Talita Matos Imóveis";
}


<div class="slider-area">
    <div class="slider">


        <div class="item">
            <video autoplay muted loop>
                <source src="~/lib/assets/img/slide1/video2.mp4" type="video/mp4"><!--VIDEO INSTITUCIONAL-->
            </video>
        </div>

        @*<div class="item"><img src="~/lib/assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>
            <div class="item"><img src="~/lib/assets/img/slide1/slider-image-2.jpg" alt="The Last of us"></div>
            <div class="item"><img src="~/lib/assets/img/slide1/slider-image-1.jpg" alt="GTA V"></div>*@


    </div>
    <div class="slider-content">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                <a><img src="~/lib/assets/img/projeto_logo450x280-tARGET.png" alt=""></a><!--LOGO EM CIMA DA BUSCA-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                @*<h2>Seu sonho é nossa maior motivação..</h2>*@
                <p></p>
                <div class="search-form wow pulse" data-wow-delay="0.8s">

                    <form action="" class=" form-inline">
                        <button class="btn  toggle-btn" type="button"><i class="fa fa-bars"></i></button>

                        <div class="form-group">
                            <input border="1" type="text" name="filtro" value="@ViewData["filtroAtual"]" placeholder="Pesquisar..." />
                        </div>
                        <div class="form-group">
                            <!--CIDADE-->
                            <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Cidade">
                                <option>Marília</option>
                                <option>Garça</option>
                                <option>Vera Cruz</option>
                                <option>Lácio</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select id="basic" class="selectpicker show-tick form-control">
                                <option> Tipo </option>
                                <option>Alugar </option>
                                <option>Comprar</option>


                            </select>
                        </div>
                        <button class="btn search-btn" type="submit"><i class="fa fa-search"></i></button>

                        <div style="display: none;" class="search-toggle">

                            <div class="search-row">

                                <div class="form-group mar-r-20">
                                    <!--VALOR DO IMOVEL-->
                                    <label for="price-range">Valor($):</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[0,450]" id="price-range"><br />
                                    <b class="pull-left color">R$:2000</b>
                                    <b class="pull-right color">R$:100000</b>
                                </div>
                                <!-- End of  -->

                                <div class="form-group mar-l-20">
                                    <label for="property-geo">Tamanho:</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[50,450]" id="property-geo"><br />
                                    <b class="pull-left color">40m</b>
                                    <b class="pull-right color">12000m</b>
                                </div>
                                <!-- End of  -->
                            </div>

                            <div class="search-row">

                                <div class="form-group mar-r-20">
                                    <label for="price-range">Banheiros:</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[250,450]" id="min-baths"><br />
                                    <b class="pull-left color">1</b>
                                    <b class="pull-right color">120</b>
                                </div>
                                <!-- End of  -->

                                <div class="form-group mar-l-20">
                                    <label for="property-geo">Quartos:</label>
                                    <input type="text" class="span2" value="" data-slider-min="0"
                                           data-slider-max="600" data-slider-step="5"
                                           data-slider-value="[250,450]" id="min-bed"><br />
                                    <b class="pull-left color">1</b>
                                    <b class="pull-right color">120</b>
                                </div>
                                <!-- End of  -->

                            </div>
                            <br>

                            <div class="search-row">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Piscina
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Closed(4600)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Saida de Emergência(200)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->
                            </div>

                            <div class="search-row">

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Lavanderia(10073)
                                        </label>
                                    </div>
                                </div>
                                <!-- End of  -->

                                <br>
                                <hr>
                            </div>
                            <button class="btn search-btn prop-btm-sheaerch" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    <!--Busca ATE AQUI CARAI-->

                </div>
            </div>
        </div>
    </div>


    <!-- property area -->
    <div class="content-area home-area-1 recent-property" style="background-color: #f37d359e; padding-bottom: 55px; ">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                    <!-- /.feature title -->
                    <h2>Residências Destaque</h2>
                    <p>Veja algumas de nossas principais residências</p>
                </div>
            </div>

            <!--BLOCO DE IMOVEIS CADASTRADOS, GERAR 7-->
            <div class="row">
                <div class="proerty-th">
                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html"><img src="~/lib/assets/img/demo/CASA (1).jpeg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m</span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-2.html"><img src="~/lib/assets/img/demo/CASA (2).jpeg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-2.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m </span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-3.html"><img src="~/lib/assets/img/demo/CASA (3).jpeg"></a>

                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-3.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m </span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html"><img src="~/lib/assets/img/demo/CASA (4).jpeg"></a>

                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m </span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-3.html"><img src="~/lib/assets/img/demo/CASA (5).jpeg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-3.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m </span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-2.html"><img src="~/lib/assets/img/demo/CASA (6).jpeg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-2.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m </span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-two proerty-item">
                            <div class="item-thumb">
                                <a href="property-1.html"><img src="~/lib/assets/img/demo/property-3.jpg"></a>
                            </div>
                            <div class="item-entry overflow">
                                <h5><a href="property-1.html">Super nice villa </a></h5>
                                <div class="dot-hr"></div>
                                <span class="pull-left"><b>Area :</b> 120m </span>
                                <span class="proerty-price pull-right">R$ 300,000</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 p0">
                        <div class="box-tree more-proerty text-center">
                            <div class="item-tree-icon">
                                <i class="fa fa-th"></i>
                            </div>
                            <div href="/Imovel/MaisImoveis" class="more-entry overflow">
                                <h5><a href="/Imovel/MaisImoveis">Não Encontrou?</a></h5>
                                <h5 href="/Imovel/MaisImoveis" class="tree-sub-ttl">Veja Outras Opções</h5>
                                <button class="btn border-btn more-black" value="All properties"><a href="/Imovel/MaisImoveis">Mostrar Mais..</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Welcome area -->
    <div class="Welcome-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 Welcome-entry  col-sm-12">
                    <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                        <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                                    <!-- /.feature title -->
                                    <h2>Veja Mais</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                            <div class="row">
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-home pe-4x"></i>
                                        </div>
                                        <h3>Cadastre seu Imóvel</h3>
                                    </div>
                                </div>
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-users pe-4x"></i>
                                        </div>
                                        <h3><a href="/Home/RedeSocial">Redes Sociais</a></h3>

                                    </div>
                                </div>


                                <div class="col-xs-12 text-center">
                                    <i class="welcome-circle"></i>
                                </div>

                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-notebook pe-4x"></i>
                                        </div>
                                        <h3><a href="/Home/TrabalheConosco">Trabalhe Conosco</a></h3>
                                    </div>
                                </div>
                                <div class="col-xs-6 m-padding">
                                    <div class="welcome-estate">
                                        <div class="welcome-icon">
                                            <i class="pe-7s-help2 pe-4x"></i>
                                        </div>
                                        <h3><a href="/Home/OndeEstamos">Onde Estamos</a></h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
