@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-xs-12 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14774.690745069947!2d-49.9434785!3d-22.214542!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x91e19163a27ebc71!2sTalita%20Matos%20Corretora%20de%20Im%C3%B3veis!5e0!3m2!1spt-BR!2sbr!4v1632761040792!5m2!1spt-BR!2sbr" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>