@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                    <div class="social pull-right">
                        <ul>
                            <br />
                            <li>
                            <a class="wow fadeInUp animated" href="https://www.facebook.com/TalitaMatos.Corretora.de.Imoveis/" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a></li>
                            <li>
                                <a class="wow fadeInUp animated" href="https://pt-br.facebook.com/talita.s.m.matos" data-wow-delay="0.2s"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                            <a class="wow fadeInUp animated" href="https://plus.google.com/" data-wow-delay="0.3s"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <br />

                        </ul>
                    </div>
            </div>
        </div>
    </div>
</div>
