@model IEnumerable<Domain.AlienDB_Midia>

@{
    ViewData["Title"] = "MaisFotos";
}

<style>
    .photo-gallery {
        color: #313437;
        background-color: #fff;
    }

    .photo-gallery p {
         color: #7d8285;
    }

    .photo-gallery h2 {
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 40px;
            color: inherit;
    }


    .photo-gallery .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto 40px;
    }

    .photo-gallery .intro p {
            margin-bottom: 0;
    }

    .photo-gallery .photos {
        padding-bottom: 20px;
    }

    .photo-gallery .item {
        padding-bottom: 30px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<h2>Fotos da Casa</h2>
<div class="photo-gallery">
    <div class="container">
            <div class="row photos">
                <ul class="gallery_box">
                    @foreach (var item in Model)
                    {
                        @if (item.Caminho != null)
                        {
                           <a href="@item.Caminho" data-lightbox="photos"><img class="img-fluid" height="250" width="250" src="@item.Caminho"></a>  
                        }
                    }
                </ul>
            </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>



